.cNav
    width: 1500px
    
.imgHero 
    height: 500px
    filter: opacity(50%)
    margin-top: 60px

.molenColor
    color: #1973ea

.headerPoint
    color:#1973ea
    height: 5px
    width: 5px

.btn
    background-color: #1973ea

.bottom-leftMolengeek1 
  position: absolute
  bottom: 250px
  left: 320px

.bottom-leftMolengeek2 
  position: absolute
  bottom: 180px
  left: 320px

.bottom-leftMolengeek3 
  position: absolute
  bottom: 150px
  left: 320px
  font-size: .9rem

@media (max-width: 768px )
  section
    max-width: 768px

  .bottom-leftMolengeek1, .bottom-leftMolengeek2, .bottom-leftMolengeek3
    text-align: left

  .bottom-leftMolengeek1
    left:0
    margin-left: 150px