.cNav
    width: 1500px
    
.imgHero 
    height: 500px
    filter: opacity(50%)
    margin-top: 60px

.molenColor
    color: #1973ea

.headerPoint
    color:#1973ea
    height: 5px
    width: 5px

.btn
    background-color: #1973ea